.app-container {
    max-width: 960px;
    margin: 0 auto;
}

/* NAVIGATION */

.app--navigation {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

.app--header {
    margin-bottom: 20px;
}

.app--space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app--navigation a {
    color: blue;
}

/* TABLES */

.app-table {
    border-collapse: collapse;
}

.app-table td,
.app-table th {
    border: 1px solid black;
    padding: 10px;
}

.app--block {
    display: block;
}

/* FLEXBOX UTILITIES */

.app--flex-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.app--flex-block-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CLAIM CARD */

.claims-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.claim-card {
    border: 1px solid #8e8e8e;
    border-radius: 4px;
    padding: 20px;
}

.claim-card--primary-row {
    gap: 20px;
    font-size: 1.5em;
}

.claim-card--position {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0.5em;
    background-color: #f5f5f5;
    color: #757575;
    border-radius: 6px;
}

.claim-card--primary-row > * {
    width: 33.3%;
}

.claim-card--primary-row > *:last-child {
    text-align: end;
}

.claim-card--primary-row > *:nth-child(2) {
    text-align: center;
}

.claim-card--second-row {
    align-items: end;
}

/* UNCATEGORIZED */

.date-small--readonly {
    font-size: 10px;
    border: none;
    padding: 0;
    margin: 0;
}

